# Requirements for development, testing, and documentation.
-e .
jupyter-book
ghp-import
pytest
pytest-cov
pytest-rerunfailures
coveralls
black
torch
tensorflow
tensorflow-probability
setuptools_scm[toml]
setuptools_scm_git_archive
